<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/x-icon" href="../images/hair-blanco.png">
		<link rel="stylesheet" href="../stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

		<title>Contacto</title>
	</head>
	<body>
		<header>
			<div class="caja">
				<h1><img src="../images/hair.png" width="18%" alt="Logo de la peluqueria"></h1>
				<nav>
					<ul>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/">Home</a></li>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/productos">Productos</a></li>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<center>

		<main class="main-contacto">
			<form id="formulario">
				<div class="centrar" id="modalDeContacto">

				<label for="nombre">Nombre</label>
				<input type="text" id="nombre" name="nombre" class="input-padron" placeholder="" required>

				<label for="email">Email</label>
				<input type="email" id="email" name="email" class="input-padron" placeholder="email@dominio.com" required>

				<label for="comentario">Comentario</label>
				<textarea cols="70" rows="10" id="comentario" name="comentario" class="input-padron"></textarea required>
				
				<input type="submit" value="Enviar" class="enviar">
			</div>

			</form>

			<table class="tabla-contacto">
				<thead>				
					<tr>
						<th>Dia</th>					
						<th>Horario</th>					
					</tr>
				</thead>
				<tbody>					
					<tr>
						<td>Lunes</td>					
						<td>08h ~ 20h</td>					
					</tr>
					<tr>
						<td>Miércoles</td>					
						<td>08h ~ 20h</td>					
					</tr>
					<tr>
						<td>Viernes</td>					
						<td>08h ~ 20h</td>					
					</tr>
				</tbody>
			</table>
		</main>
	</center>

		<footer>
			<img src="../images/hair-blanco.png" alt="Logo de la Peluquería Versalles" width="23%">
			<p class="copyright">&copy Copyright Peluquería Versalles - 2024</p>
		</footer>
	</body>

	<script>
		document.getElementById('formulario').addEventListener('submit', async function(event) {
			event.preventDefault();
		
			const formData = new FormData(this);
			const data = Object.fromEntries(formData.entries());
			const modalDeContacto = document.getElementById('modalDeContacto');

			// Actualizar el contenido del modal
			modalDeContacto.innerHTML = `<p>¡Datos enviados!</p>`;
		
			try {
				const response = await fetch('/subirDatos', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				});
		


			} catch (error) {
				// Mostrar error de conexión
				const modalDeContacto = document.getElementById('modalDeContacto');
				modalDeContacto.innerHTML = `<p>Error de conexión.</p>`;
				console.error('Error:', error);
			}
		});
		</script>
		
</html>
