<!DOCTYPE html> 

<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/x-icon" href="../images/hair-blanco.png">
		<title>Peluquería Versalles</title>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>

	<body>
		<header>
			<div class="caja">
				<h1><img src="../images/hair.png" width="18%"></h1>
				<nav>
					<ul>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/">Home</a></li>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/productos">Productos</a></li>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<img class="banner" src="../images/banner-transformed.jpeg">
		
		<main>
			<section class="principal">

				<h2 class="titulo-principal">Sobre la Peluquería Versalles</h2>

				<img class="utensilios" alt="Utensilios" src="../images/utensilios.jpg">

				<p>Ubicada en el corazón de la ciudad, la <strong>Peluquería Versalles</strong> trae para el mercado lo que hay de mejor para su cabello. Fundada en 2020, la Peluquería Versalles ya es destaque en la ciudad y conquista nuevos clientes diariamente.</p>

				<p id="mision"><em>Nuestra misión es: <strong>"Proporcionar autoestima y calidad de vida a nuestros clientes"</strong>.</em></p>

				<p>	Ofrecemos profesionales experimentados que están constantemente observando los cambios y movimiento en el mundo de la moda, para así ofrecer a nuestros clientes las últimas tendencias. El atendimiento posee un padrón de excelencia y agilidad, garantizando calidad y satisfacción de nuestros clientes. </p>

			</section>

			<section class="mapa">
				<h3 class="titulo-principal">Nuestra Ubicación</h3>
				<p>Nuestro establecimiento está ubicado en el corazón de la ciudad.</p>
                <center>
				<div class="mapa-contenido">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2851.8159124528315!2d-66.90001466739871!3d10.500160227256005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a59c8859c97d3%3A0x7e8a308775fbf78e!2sSomas%20Bellas%20Artes!5e0!3m2!1ses!2sve!4v1731771038434!5m2!1ses!2sve" width="95%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
            </center>

			</section>

			<section class="diferenciales">

				<h3 class="titulo-principal">Servicios</h3>

				<div class = "contenido-diferenciales">
					<ul class="lista-diferenciales">
						<li class="items">Atención personalizada a los clientes</li>
						<li class="items">Espacios especializados</li>
						<li class="items">Localización</li>
						<li class="items">Profesionales calificados</li>
						<li class="items">Puntualidad</li>
						<li class="items">Limpieza</li>
						
					 </ul><img class="imagen-diferenciales" src="../images/service.jpg"> <!-- Efecto imagen en linea con el texto, tiene que estar todo en la misma linea con el display adecuado -->
				</div>
				<div class="video">
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/_kaVWBPgiA4?si=Z3P1HWJOl5K0nFR3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

			</section>


		</main>

		<footer>
			<img src="../images/hair-blanco.png" width="23%">
			<p class="copyright">&copy Copyright Peluquería Versalles - 2024</p>
		</footer>
	</body>
</html>
