<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../stylesheets/style.css">
		<link rel="icon" type="image/x-icon" href="images/hair-blanco.png">
		<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
		<title>Productos</title>
	</head>
	<body>
		<header>
			<div class="caja">
				<h1><img src="Images/hair.png" width="18%"></h1>
				<nav>
					<ul>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/">Home</a></li>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/productos">Productos</a></li>
						<li><a style="margin: 15px; font-family: 'Poppins';" href="/contacto">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<ul class="productos">
				<li>
					<h2>Lavado</h2>
					<img src="Images/wash.png" width="240px">
					<p class="producto-descripcion">Lavado y secado de cabello</p>
					<p class="producto-precio">$ 10.00</p>
				</li>
				<li>
					<h2>Corte</h2>
					<img src="Images/cut.png" width="240px">
					<p class="producto-descripcion">Corte profesional de cabello</p>
					<p class="producto-precio">$ 08.00</p>
				</li>
				<li>
					<h2>Uñas</h2>
					<img src="/Images/nail.png" width="240px">
					<p class="producto-descripcion">Pintura y diseño de uñas</p>
					<p class="producto-precio">$ 15.00</p>
				</li>
			</ul>			
		</main>
		<footer>
			<img src="Images/hair-blanco.png" width="23%">
			<p class="copyright">&copy Copyright Peluquería Versalles - 2024</p>
		</footer>
	</body>
</html>